<div class="card">
    <div class="card-body">
        <h2>Hard and Soft Skills</h2>

        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
            <button (click)='turn_off_on()' class="btn btn-light me-md-2" type="button"><i class="bi bi-pen"></i></button>     
        </div>

        <div *ngIf="show_form">
            <br>
            <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                <button (click)="agregar_Skill()" class="btn btn-light" type="button"><i class="bi bi-plus-lg"></i><p>Añadir</p></button>
            </div>
            <br>
    
            <form [formGroup]="form">
               <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">Nombre de Habilidad</span>
                  <input type="text" formControlName="name_skill" class="form-control" placeholder="Habilidad" aria-label="Habilidad" aria-describedby="addon-wrapping">
               </div>
               <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">Progreso</span>
                  <input type="number" formControlName="progress" class="form-control" placeholder="Progreso" aria-label="Progreso" aria-describedby="addon-wrapping">
               </div>
            </form>
        </div>
        
        <div *ngFor="let skills of skill_list">
            <br>
            <div *ngIf="show_form" class="d-grid gap-1 d-md-flex justify-content-md-end">
                <button class="btn btn-light me-md-2" type="button"><i class="bi bi-pen"></i></button>
                <button (click)="skill_Delete(skills.idskills)" class="btn btn-light" type="button"><i class="bi bi-trash"></i></button>
            </div>
            <p id="skills-text-center">{{skills.name_skill}}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [style]="'width: '+ skills.progress+'%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
        </div>

        





    </div>

</div>


